<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>view/Public_pages/home.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>Role</filter-name>
        <filter-class>filter.Role</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckAuthen</filter-name>
        <url-pattern>/ProductController?action=add</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Role</filter-name>
        <servlet-name>AddProduct</servlet-name>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-name>ListServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckAuthen</filter-name>
        <servlet-name>AddProduct</servlet-name>
        <servlet-name>CategoryController</servlet-name>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-name>ListServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>account.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>account.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>account.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>product.AddProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>category.CategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>category.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/UpdateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>AddCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>product.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>product.UpdateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductControllerV2</servlet-name>
        <servlet-class>product.ProductControllerV2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductControllerV2</servlet-name>
        <url-pattern>/ProductControllerV2</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>CheckAuthen</filter-name>
        <filter-class>filter.CheckAuthen</filter-class>
    </filter>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>account.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/ListServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
